*{
    font-family: "Audiowide", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1, p{
    
    text-align: start;
    margin-left: 20px;
    
}



.free{
    color: linen ;
}

.heading{
    margin-top: 22px;
    

}

header{
    background-color: black;
    
    
}

.big-heading{
    font-size: 1.9rem;
    line-height: 1.5;
    font-family: "Montserrat-Black", Garamond;
    color: aliceblue;
    margin-top: 150px;
}

.big-free{
    font-size: 1.9rem;
    line-height: 1.5;
    font-family: "Montserrat-Black", Garamond;
    color: aliceblue; 
    margin-bottom:50px ;
    
}

.btn-outline-light{
    margin-left: 21px;
}

.small-heading{
    font-size: 1.2rem;
    line-height: 3;
    color: aliceblue ;
    margin-top: 19px;
}

li{
    list-style: none;
}

a{
    color: aliceblue;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    
    
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

.nav-brand{
    font-size: 2rem;
}

.nav-link{
    display: inline-flex ;
    align-items: center;
    justify-content: space-between;
    padding: 2px 12px;
    font-size: 17px;
    color: aliceblue;
    margin-top: 32px;
}

.nav-link:hover, .nav-icon:hover{
    color: burlywood;
}

.nav-icon{
    padding-bottom: 4px;
    border:3px solid aliceblue;
     color: aliceblue;
     
     
     
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: darkgray;
}

.elementor-heading-title{
    text-align: center;
    margin-left: 20px;
    margin-bottom: 100px;
    
}

.elementor-section{
    margin-top: -16px;
    background-color: linen;
}

.elementor-paragraph{
    font-size: 17px;
    text-align: start;
    margin-top: 20px;
    margin-left: 20px;
    
}

.elementor-btn{
    background: #3C79F5;
    border-radius: 35px;
    height: 60px;
    text-align: center;
    margin-top: 20px;
    margin-left: 320px;
    width: 50%;
    font-weight: bold;

}

.elementor-btn:hover{
    color: burlywood;
}

.colored-section{
    background-color: #183062;
    color: #fff;
}

.product-text {
    font-size: 1rem;
    line-height: 1.5;
}


.product-image {
    width: 70%;
    border-radius: 5px;
    margin: 20px;
}

/* Containers */
.container-fluid{
    padding:7% 15%;
    }

/* Sections */
.colored-section{
    background-color: #3C79F5;
    color: #fff;
}

.title-image{
    width: 400px;
    height: 299px;
    border: #3C79F5 solid;
    border-radius:  40% ;
    margin: 20px;
}


.offer-image{
    width: 55px;
}

.section-heading{
    margin-top: 50px;
    margin-left: 25%;

}

.section-heading-paragraph{
    margin-top: 30px;
    margin-left: 35%;
    padding-bottom: 40px;
}

.row{
    margin-right: 10px;
    margin-left: 10px;
}

.card-body:hover{
    color: #3C79F5;
    background-color: black;
}

.card-header{
    
    background-color: #3C79F5;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-inner{
    background-color: black;
}

/*#footer{
    background-color: linen;
    height: 190vh;
}

.footer-head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer-paragh{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    font-size: 18px;
}

.elementor-btn1{
    background: #3C79F5;
    border-radius: 35px;
    height: 60px;
    text-align: center;
    margin-left: 325px;
    width: 40%;
    font-size: 16px;
    font-weight: 100;
    position: absolute;
    z-index: 1;
    margin-top: -50px;
}
.container {
    width: 90%;
    height: 480px;
    border: 1px solid orange;
    position: relative;
    background-color: black;
    border-radius: 20px;
    box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, 0.10);;
    }
    .container-paragh{
        padding-top: 10px;
        color: linen;
        position:absolute;
    }

    
    .container-paragh1{
        padding-top: 50px;
        font-size: 14px;
        color: linen;
        position:absolute;
    }

    .contact-space{
        display: flex;
    }
   
    .envelope{
        position: relative;
        
        }
        
  .envelope-image{
    width: 16%;
    height: 19%;
    margin-top: 200px;
    margin-left: 65px;
    border: 1px solid linen;
    border-radius: 10px;
    background-color: linen;
    justify-content: center;
    align-items: center;
  }
  .email{
    margin-top: 10px;
    margin-left: 20px;
    color: linen;
  }
   
    .call-phone{
       position: absolute;
        
    }
    .callphone-image{
        margin-top: 200px;
        margin-left: 300px;
        border: 1px solid linen;
        border-radius: 10px;
        background-color: linen;
        justify-content: center;
        align-items: center;
        width: 15%;
        height: 55px;
       }
       .phone-number{
        margin-top: 10px;
        margin-left: 250px;
        color: linen;
       }
    .fa-regular{
        
        background-color: linen;
    }
 .vertical {
    border-left: 1px solid linen;
    height: 65%;
    top: 16%;
    position:absolute;
    left: 49%;
    }
  .half-circle {
    width: 506px;
    height: 16px;
    position: relative;
    left: 50%;
    top: -1px;
    transform: translateX(-50%);
    border-bottom: 1px solid orange;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
    border-bottom-left-radius: 3500px;
    border-bottom-right-radius: 3500px;
    background: linen;
  }
 .footer-line{
   margin-left: 60px;
   width: 90%;
   background-color: #3C79F5;
   border-top: 2px dashed #3C79F5;
   }
   .container-right{
    justify-content: center;
    background-color: ;
    position: absolute;
    width: 50%;
    left: 51%;
    top: 5%;
   }
   .contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px ;
    margin-left: -441px;
    color: linen;
    }
    .footer-email{
        height: 35px;
        width: 41%;
        border-radius: 10px;
        background-color: #FFF;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
    
    }
    .footer-email1{
        margin-left: 40px;
        height: 35px;
        width: 41%;
        border-radius: 10px;
        background-color: #FFF;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
        }
        .footer-address{
            margin-top:33px ;
            height: 35px;
            width: 90%;
            border-radius: 10px;
            background-color: #FFF;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
        
        }
        
        .footer-subject{
            margin-top:33px ;
            height: 35px;
            width: 42%;
            border-radius: 10px;
            background-color: #FFF;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
        }
        
        .footer-messsage{
            margin-top:33px ;
            height: 80px;
            width: 90%;
            border-radius: 10px;
            background-color: #FFF;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
        
        }
        .btn-primary{
            margin-top: 33px;
        }
 
  .container-fluid1{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    gap: 20px;
   }
   .social-icon{
    color: #3C79F5;
   }

   .footer-copyright{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-copyright-colored{
    color: #3C79F5;
  }
*/

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    margin: 100px;
}
.footer-div1{
    height: 400px;
    width: 1000px;
    margin-top: 90px;
    justify-content: center;
    background-color: #F9F3F5;
}
.footer-div2{
    height: 550px;
    width: 1000px;
    margin: 1px;
    justify-content: center;
    background-color: #FFFAFA;
    border-radius: 10px;
    box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, 0.10);;
}
.footer-contents1{
    margin-top: 40px;
    margin: 20px;
}
.footer-parag{
    margin-top: 15px;
    margin-bottom: 50px;
    font-weight: 900;
}
.footer-phone{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}
.footer-content-body{
    margin: 30px;
}
.footer-email{
    height: 45px;
    width: 41%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}
.footer-email1{
    margin-left: 30px;
    height: 45px;
    width: 41%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}
.footer-contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:40px ;
    font-weight: 900;
    font-size: 20px;
}
.footer-address{
    margin-top:33px ;
    height: 45px;
    width: 90%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}
.footer-subject{
    margin-top:33px ;
    height: 45px;
    width: 42%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}
.footer-messsage{
    margin-top:33px ;
    height: 110px;
    width: 90%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}
.footer-submit{
    margin-top:33px ;
    height: 45px;
    width: 42%;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}

.btn-primary{
    margin-top:33px ;
}
.copywrite{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 50px;
    color: #FF4C60;
    font-size: 18px;
}
.footercontacts{
    display: flex;
    gap: 100px;
    align-items: center;
}
.footercontact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-image1{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute ;
    margin-top: -51px;
    margin-left: 17px;
}




@media(max-width:1028px ){
    h1 , p{
        position: relative;
        left: -1000px;
    }

    

    .hamburger{
        display: block;
    }

   /* .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform:translateY(8px) rotate(-45deg);
} */

    .nav-menu{
        position: fixed;
        left: -100%;
        top:70px;
        gap:0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left:0;
        
    }

    .elementor-btn{
        width: 90%;
        height: 100%;
        margin-left: 10px;
    }

    

    .product-image {
        width: 100%;
        border-radius: 15px;
        margin: 20px;
    }

    .title-image{
        width: 200px;
        height: 152px;
        border: #3C79F5 solid;
        border-radius:  40% ;
        margin: 20px;
        text-align: center;
        
        
    }

    .col-lg-6{
        text-align: center;
    }

    .big-free{
        font-size: 1.9rem;
        line-height: 1.5;
        font-family: "Montserrat-Black", Garamond;
        color: aliceblue; 
        margin-bottom:50px ;
        }

        .big-free-paragraph{
            text-align: center;
            
        }

        .elementor-btn1{
           
            height: 60px;
            text-align: center;
            margin-left: 209px;
            width: 52.3%;
           
             z-index: 1;
            margin-top: -50px;
        }


        .footer-email{
            
            width: 51%;
           
        }
        .footer-email1{
            margin-top:33px ;
            margin-left: 0px;
            width: 51%;
            }

        .footer-subject{
           width: 51%;
        }

        .footer-div2{
            height: 650px;
         }

        
}

@media(max-width:768px ){

    .body{
      
    }

    .envelope-image{
        width: 15%;
        height: 19%;
       margin-left: 50px;
        
      }

      .email{
       display: none;
      }
       

      .contact-space{
        gap: 0;
        
    }

    .callphone-image{
       width: 25%;
        height: 51px;
        margin-left: 180px;
       }
       .phone-number{
        display: none;
       }

       .elementor-btn1{
           
        height: 60px;
        text-align: center;
        margin-left: 90px;
        width: 70.3%;
        z-index: 1;
        margin-top: -50px;
    }

    .contact-form{
        margin-right: -50px;
    }

    .footer-email{
       width: 42%;
        }
    
        .footer-email1{
        margin-left: 20px;
        width: 42%;
        
        }

        .footer-line{
            
            margin-left: 80px;
            width: 80%;
            
            }
            
            .footer-copyright{
             display: block;
               
              }

              .footer-div1{
               display: none;
            }  
            
            .copywrite{
             
                font-size: 12px;
            }


}




@media(max-width:425px ){ 
   

    .footer-contact-us{
        text-align: center;
    }
    

     .footer-email{
        width: 92%;
         }
     
         .footer-email1{
         margin-left: 0px;
         width: 92%;
         
         }

         
         .footer-subject{
            width: 92%;
            
            }

              
         .footer-submit{
            width: 92%;
            
            }
  
 }

 @media(max-width:375px ){ 
   
    .copywrite{
             
        font-size: 10px;
    }

 
  
 }

 
 @media(max-width:320px ){ 
   
    .copywrite{
 font-size: 9.5px;
    }

 
  
 }
